<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .category-badge {
            margin-right: 5px;
            margin-bottom: 5px;
        }
        .stock-controls {
            display: flex;
            align-items: center;
        }
        .stock-controls button {
            margin: 0 5px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Lista de Productos</h1>
    <a href="/products/grid" class="btn btn-info mb-3">Ver Cuadrícula de Productos</a>
    <div class="mb-3">
        <form th:action="@{/products}" method="get">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Buscar por nombre">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="mb-3">
        <form th:action="@{/products}" method="get">
            <div class="input-group">
                <select name="categoryId" class="form-control">
                    <option value="">Todas las Categorías</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <a href="/products/add" class="btn btn-primary mb-3">Agregar Nuevo Producto</a>
    <button class="btn btn-secondary mb-3" onclick="history.back()">Volver</button>
    <table class="table table-bordered table-hover table-responsive-sm">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categorías</th>
            <th>Precio</th>
            <th>Precio por Kilo</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Stock</th>
            <th>Disponibilidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td>
                <div th:each="category : ${product.categories}">
                    <span class="badge badge-primary category-badge" th:text="${category.name}"></span>
                </div>
            </td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.pricePerKilo != null} ? ${product.pricePerKilo} : 'N/A'"></td>
            <td th:text="${product.description}"></td>
            <td>
                <img th:if="${product.image}" th:src="@{/images/{image}(image=${product.image})}" alt="Imagen del Producto" style="width: 50px; height: 50px;" />
                <img th:if="${product.imageUrl}" th:src="${product.imageUrl}" alt="Imagen del Producto" style="width: 50px; height: 50px;" />
            </td>
            <td class="stock-controls">
                <form th:action="@{/products/decrementStock/{id}(id=${product.id})}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-secondary btn-sm">-</button>
                </form>
                <span th:text="${product.stock}"></span>
                <form th:action="@{/products/incrementStock/{id}(id=${product.id})}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-secondary btn-sm">+</button>
                </form>
            </td>
            <td th:text="${product.availability}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
